<nav class="nav-bar bg-primary navbar-expand-sm navbar-dark ">
    <div class="collapse navbar-collapse">
    <ul class="navbar-nav item mr-auto" style="margin-left: 10px;">
        <li class="nav-item drop-down">
            <a routerLink="users" routerLinkActive="true" class="nav-link">User List</a>
            <!-- <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User Management
              </a>
    
           
      
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="users">Dropdown Item One</a>
                <a class="dropdown-item" routerLink="create-user">Dropdown Item Two</a>
              </div> -->
        </li>
        <li class="nav-item" style="margin-left: 10px;">
            <a routerLink="create-user" routerLinkActive="true" class="nav-link"> Create User</a>

        </li>
    </ul>
</div> 




</nav>

<router-outlet></router-outlet>

